<div class="row PersonMain">
  <div class="col s2 PersonMain-left indigo white-text">
    <p><%= first_name %></p>
    <p><%= last_name %></p>
    <p><%= age %></p>
    <p><%= location %></p>
  </div>
  <div class="col s10 PersonMain-right grey lighten-2">
    <h3 class="center-align"><%= last_name %></h3>
    <h3 class="center-align"><%= first_name %></h3>
  </div>
</div>


